@using EntityLayer.Concreate
@model List<Announcement>
<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">Son Haberler</h3>
        <p class="heading-btm-w3ls">Çiftliğimizle ilgili en güncel gelişmeleri buradan takip edebilirsiniz.</p>

        <div class="blog-grid-w3-agileits">
            <div class="col-md-5 blog-info-w3layouts blog-mid">
                <h6><a href="#" data-toggle="modal" data-target="#myModal3">TARIM SEKTÖRÜNDE GELİŞMEYE DEVAM EDİYORUZ</a></h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar"></a><span>12/10/2016</span>
                    <p class="para-w3-agileits">Tarım sektöründe sürekli gelişim ve yenilik anlayışıyla çalışmalarımıza devam ediyoruz. Çiftliğimizde modern teknikleri uygulayarak verimliliği artırıyoruz.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Devamını Oku</a>
            </div>
            <div class="col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="blog-grid-w3-agileits">
            <div class="col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4"></a>
            </div>
            <div class="col-md-5 blog-info-w3layouts">
                <h6><a href="#" data-toggle="modal" data-target="#myModal4">TARIM SEKTÖRÜNDE İLK ADIMLARIMIZI ATIYORUZ</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar"></a><span>06/08/2016</span>
                    <p class="para-w3-agileits">Tarım sektöründe sağlam bir yer edinmek için çıktığımız bu yolda, yenilikçi çözümler sunarak büyümeye devam ediyoruz. Çiftçiliğe yeni bir bakış açısı getiriyoruz.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Devamını Oku</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

